*{
    padding: 0;
    margin: 0;
}


/* FONTS */

@font-face{
    font-family: Gliroy-bold;
    src: url(../fonts/GILROY-EXTRABOLD.OTF);
}

@font-face{
    font-family: Gliroy;
    src: url(../fonts/GILROY-LIGHT.OTF);
}

@font-face{
  font-family: Calibri-bold;
  src: url(../fonts/CALIBRIB.TTF);
}

@font-face{
  font-family: Calibri;
  src: url(../fonts/CALIBRI.TTF);
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0D101A;
    background-image: url(../images/backgrounds/background1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* BACKGROUND NUMBER STRAP */

.backNumberStrap{
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: rgba(191, 24, 24, 0.2);
  right: 15%;
}

/* RIGHT PAGE SECTIONS NAVIGATOR */

.sectionNavigator{
  position: absolute;
  right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 20px;
}

.sectionNavigator::after{
  content: '';
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 1px;
  position: absolute;
  right: 2.5px;
}

.sectionNavigator ul li{
  position: relative;
  color: #bfbfbf;
  list-style: none;
  padding: 10px 0px;
  font-size: 14px;
  cursor: pointer;
}

.sectionNavigator ul li.sectionNavActive{
  font-size: 18px;
  color: white;
}

.sectionNavigator ul li::after{
  content: '\f111';
  position: absolute;
  right: -20px;
  color: #a6a6a6;
  font-family: 'FontAwesome';
  font-size: 8px;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
}

.sectionNavigator ul li:hover{
  font-size: 18px;
  color: white;
}

.sectionNavigator ul li.sectionNavActive::after{
  color: white;

}

.sectionNavigator ul li.sectionNavActive::after{
  color: white;
}

.sectionNavigator ul li:hover::after{
  color: white;
}


/* CONTAINER  */

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 4rem;
  margin-right: 12rem;
  justify-content: space-between;
}

.leftTitleContent .title p{
  font-size: 42px;
  font-family: Gilroy;
  color: var(--primaryTextColor);
}

.leftTitleContent .description p{
  margin-top: 20px;
  font-size: 14px;
  width: 340px;
  font-family: Gilroy;
  color: #a6a6a6;
}
.leftTitleContent .explore{
  margin-top: 42px;
  display: flex;
  align-items: center;
}

.leftTitleContent .explore p{
  font-size: 18px;
  font-family: Gilroy;
  color: var(--secondaryTextColor);
}

.leftTitleContent .explore button{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid var(--primaryTextColor);
  background-color: transparent;
  margin-left: 18px;
  color: white;
  font-size: 8px;
  cursor: pointer;
  outline: none;
}

.leftTitleContent .explore button img{
  width: 18px;
}
